<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <title>로그인</title>
  <link rel="stylesheet" href="/css/login.css">
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>

  <form name="form_info" action="/profile" method="POST">
    <input type="hidden" name="userId" />
  </form>
  <fieldset>
    <legend>Login</legend>
    <form name="form_login">
      <div class="label-wrapper">
        <label for="userId">ID</label>
        <div class="input-wrapper">
          <img class="icon" src="/image/user_id_아이콘.png" alt="id icon">
          <input id="userId" type="id" name="userId" required />
        </div>
      </div>
      <div class="label-wrapper">
        <label for="password">Password</label>
        <div class="input-wrapper">
          <img class="icon" src="/image/password_아이콘.png" alt="pw icon">
          <input id="password" type="password" name="password" required />
        </div>
      </div>
      <button type="button" onclick="login()">Login</button>
    </form>

    <a href="/user/signup">회원가입</a>
  </fieldset>

  <script src="/js/login.js"></script>
</body>
</html>